@font-face {
    font-family: 'norwesterregular';
    src: url('../fonts/norwester-webfont.eot');
    src: url('../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/norwester-webfont.woff2') format('woff2'),
         url('../fonts/norwester-webfont.woff') format('woff'),
         url('../fonts/norwester-webfont.ttf') format('truetype'),
         url('../fonts/norwester-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'norwesterregular';
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    
}
/* Retina display */
@media screen and (min-width: 1024px){
    body{
        background-image: url(../images/wojak_bg.jpg);
    }
    body.page-start {
    	background-image: url(../images/wojak_bg_start.jpg);
    	background-size: 100%;
    	height: 100hv;
    }
    #age_checker .logo {
    	height: 100px;
    }
    #age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
    	height: 55px;
    }
    .views_slideshow_cycle_main img {
    	max-width: 65%;
    	display: block;
    	margin: 0 auto;
    }
    .page-start .page-width {
    	width: 100%;
    }
    .views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
    	margin: 0 auto;
    	max-height: 500px !important;
    	width: 55% !important;
    }
    .views-slideshow-controls-bottom {
    	width: 20%;
	    position: fixed;
    	z-index: 25;
    	left: 40%;
    	bottom: 26%;
	    text-align: center;
    }
    .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    	width: 15px;
    	height: 15px;
    	display: inline-block;
    	vertical-align: top;
    }

    .views-slideshow-controls-bottom .views-content-counter {
    	width: 15px;
    	height: 15px;
    	display: inline-block;
    	vertical-align: top;
    	background: url("../images/bullet_slider_star.png") no-repeat;
    	font-size: 0px;
    	cursor: pointer;
    }

    .views-slideshow-controls-bottom .active .views-content-counter {
    	background: url("../images/bullet_slider_star_active.png") no-repeat;
    }

    .view-footer {
    	position: fixed;
    	bottom: 20%;
    	right: 20%;
    	z-index: 20;
    }
    .view-footer img {
    	max-width: 70%;
    }

    .wrapper-footer {
    	color: #696969;
    }

    .page-start .wrapper-footer {
    	position: fixed;
    	background: url("../images/wojak_bg_footer_start.png") no-repeat;
    	background-size: 100% 100%;
    	width: 100%;
    	bottom: 0;
    	height: auto;
    	z-index: 19;
    	padding: 5% 0 0 0;
    	text-align: center;
    	font-size: 12px;
    	min-height: 35%;
    	color: #696969;
    }
    .page-o-wojaku .wrapper-footer {
    	background: url("../images/wojak_bg_footer_start.png") no-repeat;
    	background-size: 100% 100%;
    	width: 100%;
    	height: 300px;
	    position: absolute;
	    z-index: 5;
	    bottom: -41px;
	    color: #696969;
	    font-size: 12px;
    }

    .page-o-wojaku .wrapper-footer .stack-prefooter {
    	margin: 0 auto;
    	padding: 0;
    }
    
    .page-o-wojaku .wrapper-footer .wj_footer_top {
    	margin: 173px 0 0 0;
    }

    .stack-prefooter {
   		margin: 100px auto 0;
   		font-size: 0.9em;
   		min-height: 52px;
	}
    .stack-footer-inner {650
    	width: 100%;
	    margin: 30px auto 0;
	    clear: both;
	    padding: 0 0 20px 0;
	    height: 40px;
	    max-width: 100% !important;
    }
    .stack-footer-inner .stack-width {
    	max-width: 980px !important;
    	margin: 0 auto;
    	position: none !important;
    	clear: both;
    }
    .stack-prefooter h2 {
    	text-align: center;
    	font-size: 1em;
    	color: #9e080e;
    }
    .stack-prefooter .content {
    	text-align: center;
    }
    .stack-prefooter .content p {
    	margin: 0;
    	line-height: 12px;
    	padding: 15px 0 0 0;
    }
    .page-start h1 {
    	display: none;
    }
    .wj_footer_bottom_left.block-age-limit > h2 {
    	display: none;
    }
    .wj_footer_bottom_right.block-age-limit-references > h2 {
    	display: none;
    }
}
/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    body{
        background-image: url(../images/wojak_bg.jpg);
    }
    #age_checker .logo {
    	height: 100px;
    	
    } 
    #age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
    	height: 55px;
    }
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    body{
        background-image: url(../images/wojak_bg.jpg);
    }
    #age_checker .agegate-container {
    	width: 510px !important;
    }
    #age_checker .logo {
    	height: 120px;
    	
    } 
    #age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
    	height: 79px;
    }   
}
/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    body{
        background-image: url(../images/wojak_bg_movil.jpg);
    }
    #age_checker .agegate-container {
    	width: 85%!important;
    }
    #age_checker .logo {
    	height: 140px;
    	
    }
    #age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
    	height: 55px;
    }
     
}
/* Mobile LD */
@media screen and (max-width: 350px){
    body{
        background-image: url(../images/wojak_bg_movil.jpg);
    }
    #age_checker .agegate-container {
    	width: 85%!important;
    }
    #age_checker .logo {
    	height: 140px;
    }
    #age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
    	height: 55px;
    }
    
} 
#age_checker .agegate-container {
	background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid rgba(255, 255, 255, 0.9) !important;
	margin: 0 auto 30px auto !important;
	position: relative;
	clear: both;	
	max-height: 450px;
}
#age_checker .logo  {
	width: 100%;
	margin-top: 0;
	padding: 0;
	position: relative;
}
#age_checker .logo img{ 
	width: 160px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: -38px;
    margin-left: -75px;
    z-index: 3;
}
/*input date **/
#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input{
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	color: #000 !important;
	border: none !important;
	background-position: 0 0;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	line-height: normal;
  	padding: 0;

}
#age_checker #edit-submit {
	width: auto !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #000!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000!important;
}
#age_checker_day {
	background-image: url(../images/input_date_day.png);
    
}
#age_checker_month {
	background-image: url(../images/input_date_month.png);
    
}
#age_checker_year {
	background-image: url(../images/input_date_year.png);
}
#age_checker_content #edit-submit {
	background-image: url(../images/edit-submit_age.png);
	background-position: 0 0;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	line-height: normal;
	background-color: transparent !important;
	color: #FFFFFF;
	font-weight: bold;
	min-width: 30% !important;
	margin: 25px 35px 0px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 80%;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.textHuge {
		font-size: 110px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 60px;
		line-height: normal;
	}
	
	.textxLarge {
		font-size: 40px;
		line-height: normal;
	}

	.textLarge {
		font-size: 36px;
		line-height: normal;
	}
	#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input,
	#age_checker_content #edit-submit,
	.textxxMedium {
		font-size: 26px;
		line-height: normal;
		font-family: 'norwesterregular';
	}
	#age_checker .form-item-day input,
	#age_checker .form-item-month input {
		width: 80px;
	}
	#age_checker .form-item-year input {
		width: 100px;
	}
	.textxMedium {
		font-size: 18px;
		line-height: normal;
	}
	.textMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textRegular {
		font-size: 14px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.textHuge {
		font-size: 77px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 42px;
		line-height: normal;
	}
	
	.textxLarge {
		font-size: 28px;
		line-height: normal;
	}
	.textLarge {
		font-size: 26px;
		line-height: normal;
	}
	#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input,
	#age_checker_content #edit-submit,
	.textxxMedium {
		font-size: 18px;
		line-height: normal;
	}
	#age_checker .form-item-day input,
	#age_checker .form-item-month input {
		width: 80px;
	}
	#age_checker .form-item-year input {
		width: 100px;
	}
	.textxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.textHuge {
		font-size: 54px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 30px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input,
	#age_checker_content #edit-submit,
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	#age_checker .form-item-day input,
	#age_checker .form-item-month input {
		width: 80px;
	}
	#age_checker .form-item-year input {
		width: 100px;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.textHuge {
		font-size: 38px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 24px;
		line-height: normal;
	}
	
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input,
	#age_checker_content #edit-submit,
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	#age_checker .form-item-day input,
	#age_checker .form-item-month input {
		width: 80px;
	}
	#age_checker .form-item-year input {
		width: 100px;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.textHuge {
		font-size: 32px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 22px;
		line-height: normal;
	}
	
	.textxLarge {
		font-size: 20px;
		line-height: normal;
	}
	#age_checker .form-item-day input, #age_checker .form-item-month input, #age_checker .form-item-year input,
	#age_checker_content #edit-submit,
	.textLarge {
		font-size: 16px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 13px;
		line-height: normal;
	}
	.textMedium {
		font-size: 11px;
		line-height: normal;
	}
	.textRegular {
		font-size: 10px;
		line-height: normal;
	}
	.textSmall {
		font-size: 9px;
		line-height: normal;
	}
	.textMini {
		font-size: 8px;
		line-height: normal;
	}
}

/* font style */
.font-bold {
	font-style: bold; 
}

.font-oblique {
	font-style: oblique;
}

.font-italic {
	font-style: italic;		
}

.agegate_content {
	font-family: 'norwesterregular';
	font-weight: normal;
}

p {
	font-family: 'norwesterregular';
	font-weight: normal;
}
.font-normal{
	font-style: normal; 
}
/* font decoration */

.text-line-through {
	text-decoration: line-through;
}

.text-overline {
	text-decoration: overline;
}

.text-underline {
	text-decoration: underline;
}

.text-underline {		
	text-decoration: underline;	
}

a {
	color: #9e080e;
}

/* header */
.wrapper-header {
	max-width: 930px;
	margin: 0 auto;
	text-align: center;
	height: 85px;
}

.stack-header-inner {
	width: 26%;
	display: inline-block;
	vertical-align: bottom;
	height: 85px;
}

.stack-header-inner .page-element {
	width: 100%;
}

.stack-header-inner h1 {
	display: block;
}

.stack-header-inner a {
	background: url("../images/logo_woyak.png") no-repeat;
	height: 85px;
	width: 100%;
	background-position: 105px 17px;
}

.stack-header-inner span{
	display: none;
}

.stack-navigation {
	width: 69%;
	display: inline-block;
	vertical-align: bottom;
}

ul.menu li:first-child a{
	background: url("../images/btn_start.png") no-repeat;
	width: 85px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
	display: block;
}

ul.menu li:first-child a.active,
ul.menu li:first-child a:hover{
	background: url("../images/btn_start_hover.png") no-repeat;
}

ul.menu li:nth-child(2) a{
	background: url("../images/btn_owaku.png") no-repeat;
	width: 125px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
	display: block;
}

ul.menu li:nth-child(2) a.active,
ul.menu li:nth-child(2) a:hover{
	background: url("../images/btn_owaku_hover.png") no-repeat;
}

ul.menu li:nth-child(3) a{
	background: url("../images/btn_nasze.png") no-repeat;
	width: 125px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
	display: block;
}

ul.menu li:nth-child(3) a.active,
ul.menu li:nth-child(3) a:hover{
	background: url("../images/btn_nasze_hover.png") no-repeat;
}	

ul.menu li:nth-child(4) a{
	background: url("../images/btn_kontact.png") no-repeat;
	width: 102px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
	display: block;
}

ul.menu li:nth-child(4) a.active,
ul.menu li:nth-child(4) a:hover{
	background: url("../images/btn_kontact_hover.png") no-repeat;
}

ul.menu li:last-child a{
	background: url("../images/btn_facebook.png") no-repeat;
	width: 102px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
	display: block;
}

ul.menu li:last-child a.active,
ul.menu li:last-child a:hover{
	background: url("../images/btn_facebook_hover.png") no-repeat;
}

/* content */
.wrapper-content {
	margin: 0;
}

.wrapper-content .stack-content-inner {
	padding: 0;
}

.views-slideshow-cycle-main-frame-row {
	width: 100% !important;
}
.stack-breadcrumb {
	display: none;
}
/* footer style */
body .agegate-container-footer {
	background: transparent;
	text-transform: uppercase;
	font-size: 12px;
	color: #696969;
	position: relative;
}

body .agegate_copyright_text {
	background: transparent;
}
.wj_footer_top > h1 {
	font-size: 18px;
	color: #9e080e;
	font-family: "norwesterregular";
}

#footer-inner {
	max-width: 980px;
	margin: 10px auto 0;
	clear: both;
	padding: 15px 0 5px 0;
	height: 40px;
	font-size: 0.9em;
}

#footer-inner .col-first {
	width: 30%;
}

#footer-inner .col-second {
	float: right;
	width: 65%;
}
.wj_footer_bottom_left {
	float: left;
}

.wj_footer_bottom_left p{
	margin: 0;
}

.wj_footer_bottom_right {
	float: right;
}

.wj_footer_bottom_right p {
	margin: 0;
	text-align: right;
	line-height: 14px !important;
}

#sabm-age-gate-form {
	margin-top: 0
}

body #age_checker_header_message {
	padding: 40px 30px 10px 30px;
	font-family: "norwesterregular";
}

/* menu */

#navigation {
	height: 30px;
}
.nav-is-visible {
	-webkit-transform: translateX(260px);
  	-moz-transform: translateX(260px);
  	-ms-transform: translateX(260px);
  	-o-transform: translateX(260px);
  	transform: translateX(260px);
}
@media only screen and (min-width: 1024px) {
	.nav-is-visible {
    	-webkit-transform: translateX(0);
    	-moz-transform: translateX(0);
    	-ms-transform: translateX(0);
    	-o-transform: translateX(0);
    	transform: translateX(0);
  	}
}

.cd-nav-trigger {
	display: block;
  	position: absolute;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 50px;
  	/* hide text */
  	overflow: hidden;
  	white-space: nowrap;
  	color: transparent;
}
.cd-nav-trigger span {
  	/* hamburger icon created in CSS */
  	position: absolute;
  	height: 2px;
  	width: 20px;
  	top: 50%;
  	margin-top: -1px;
  	left: 50%;
  	margin-left: -10px;
  	-webkit-transition: background-color 0.3s 0.3s;
  	-moz-transition: background-color 0.3s 0.3s;
  	transition: background-color 0.3s 0.3s;
  	background-color: #ffffff;
    text-align: left;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  	/* upper and lower lines of the menu icon */
 	content: '';
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background-color: #ffffff;
  	/* Force Hardware Acceleration */
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
  	-ms-transform: translateZ(0);
  	-o-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-transition: -webkit-transform 0.3s 0.3s;
  	-moz-transition: -moz-transform 0.3s 0.3s;
  	transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  	-webkit-transform: translateY(-6px);
  	-moz-transform: translateY(-6px);
  	-ms-transform: translateY(-6px);
  	-o-transform: translateY(-6px);
  	transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  	-webkit-transform: translateY(6px);
  	-moz-transform: translateY(6px);
  	-ms-transform: translateY(6px);
  	-o-transform: translateY(6px);
  	transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  	background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  	-webkit-transform: translateY(0) rotate(-45deg);
  	-moz-transform: translateY(0) rotate(-45deg);
  	-ms-transform: translateY(0) rotate(-45deg);
  	-o-transform: translateY(0) rotate(-45deg);
  	transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  	-webkit-transform: translateY(0) rotate(45deg);
  	-moz-transform: translateY(0) rotate(45deg);
  	-ms-transform: translateY(0) rotate(45deg);
  	-o-transform: translateY(0) rotate(45deg);
  	transform: translateY(0) rotate(45deg);
}
@media only screen and (min-width: 1024px) {
	.cd-nav-trigger {
    	display: none;
  	}
}
div#page::before {
	display: none;
  	content: 'mobile';
}
@media only screen and (min-width: 1024px) {
	div#page::before {
    	content: 'desktop';
  	}
}
.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  background: #1e262c;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a {
  display: block;
  font-size: 1.8rem;
  padding: .9em 2em .9em 1em;
  border-bottom: 1px solid #33414a;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

/* o-wojaku */

body.page-o-wojaku {
	background: url("../images/o_wojaku_bg_todo.jpg") no-repeat;
	background-size: 100% 100%; 
}

.page-o-wojaku .page-width {
	width: 100%;
}

.page-o-wojaku .wrapper-content {
	margin: 0 auto;
    text-align: left;
    width: 960px;
    padding: 0 0 128px 0;
}
.page-o-wojaku h1.title {
	display: none;
}

.page-o-wojaku .views-row-1 .views-field-title span.field-content {
	display: none;
}

.page-o-wojaku .views-row-1 .views-field-field-about-photo {
	width: 85%;
	margin: 100px 0 0 0;
}

.page-o-wojaku .views-row-2,
.page-o-wojaku .views-row-3,
.page-o-wojaku .views-row-4 {
	clear: both;
}
.page-o-wojaku .views-row-2 .views-field-title,
.page-o-wojaku .views-row-2 .views-field-body {
	float: left;
	width: 55%;
	clear: both;
	margin: 0 0 0 10%;
}


.page-o-wojaku .views-row-2 .views-field-body {
	font-size: 1.7em;
	line-height: 23px;
}

.page-o-wojaku .views-row-2 .views-field-title {
	color: #9e0b11;
	font-size: 2.5em;
}
.page-o-wojaku .views-row-2 .views-field-field-about-photo {
	float: right;
	width: 30%;
	position: relative;
	z-index: 2;
	margin: -290px 0 470px 0;
}
.page-o-wojaku .views-row-2 .views-field-field-about-photo img {
	width: 65%;
}

.page-o-wojaku .views-row-3 .views-field-title,
.page-o-wojaku .views-row-3 .views-field-body {
	float: right;
	clear: both;
	width: 50%;
	text-align: right;
}

.page-o-wojaku .views-row-3 .views-field-title {
	color: #9e0b11;
	font-size: 2.5em;
	line-height: 30px;
	margin: -270px 0 0 0;
}

.page-o-wojaku .views-row-3 .views-field-body {
	margin: -217px 0 0 0;
	font-size: 1.7em;
	line-height: 23px;
}

.page-o-wojaku .views-row-4 {
	margin: 150px 0 0 0;
	padding: 0px 0 0 0;
	clear: both;
	overflow: visible;
}

.page-o-wojaku .views-row-4 .views-field-field-about-photo {
	float: right;
	clear: both;
	width: 50%;
	position: relative;
	z-index: 2;
	margin: -390px 0 0px 0;
}

.page-o-wojaku .views-row-4 .views-field-field-about-photo img {
	width: 100%;
}

.page-o-wojaku .views-row-4 .views-field-title,
.page-o-wojaku .views-row-4 .views-field-body {
	float: left;
	width: 40%;
	clear: both;
	margin: 0 0 0 10%;
}

.page-o-wojaku .views-row-4 .views-field-title {
	color: #9e0b11;
	font-size: 2.5em;
	line-height: 30px;
	padding: 180px 0 0 0;
}

.page-o-wojaku .views-row-4 .views-field-body {
	font-size: 1.5em;
}

.page-o-wojaku .views-row-4 .views-field-body p {
	line-height: 20px;
}

/* piwo */

body.page-node-81{
	background: url("../images/piwo_bg_todo.jpg") no-repeat;
	background-size: 100% 100%;
}

.page-node-81 h1.title {
	display: none;
}

.page-node-81 .field-name-field-photo {
	width: 40%;
	float: left;
}

.page-node-81 .field-name-field-photo img {
	display: block;
	float: right;
	clear: both;
}

.page-node-81 .field-name-field-titletop {
	width: 56%;
    float: right;
    color: #9e0b11;
    font-size: 2.3em;
    padding: 375px 0 0 0px;
}

.page-node-81 .field-name-body {
	width: 56%;
	float: right;
	font-size: 1.5em;
    margin: 0 !important;
}

/* kontak */

body.node-type-webform {
	background: url("../images/kontak_bg_todo.jpg") no-repeat;
	background-size: 100% 100%;
}

.node-type-webform h1.title {
	display: none;
}

.node-type-webform .field-name-field-image-top img{
	display: block;
	width: 70%;
	margin: 150px auto 0;
}

.node-type-webform  .field-name-field-title {
	color: #9e0b11;
	font-size: 2.6em;
	margin: 50px 0 0 0;
	width: 56%;
}

.node-type-webform	.field-name-field-tagline {
	font-size: 1.7em;
	width: 56%;
}

.node-type-webform form.webform-client-form {
	width: 56%;
}

.node-type-webform form.webform-client-form .webform-component {
	width: 49%;
	display: inline-block;
	vertical-align: top;

}

.node-type-webform form.webform-client-form .webform-component:first-child {
	margin: 18px 7px 0 0
}

.node-type-webform form.webform-client-form .webform-component:nth-child(3) {
	margin: 18px 7px 0 0
}

.node-type-webform form.webform-client-form .webform-component input {
	width: 95%;
	border: solid thin #e5e5e5;
	height: 30px;
}

.node-type-webform form.webform-client-form .webform-component.webform-component-textarea {
	width: 100%;
	display: block;
}

.node-type-webform form.webform-client-form .form-actions input{
	width: 230px;
	height: 70px;
	display: block;
	float: right;
	background: url("../images/bg_button_kontak.png") no-repeat;
	border: 0;
	font-family: "norwesterregular";
	font-size: 2.8em;
	color: #fff;
}

.node-type-webform .field-name-field-packshot {
	display: none;
}
/**menu**/
#navigation {
	background-color: red;
	height: 70px;
}
.nav-is-visible {
	-webkit-transform: translateX(260px);
  	-moz-transform: translateX(260px);
  	-ms-transform: translateX(260px);
  	-o-transform: translateX(260px);
  	transform: translateX(260px);
}
@media only screen and (min-width: 1024px) {
	.nav-is-visible {
    	-webkit-transform: translateX(0);
    	-moz-transform: translateX(0);
    	-ms-transform: translateX(0);
    	-o-transform: translateX(0);
    	transform: translateX(0);
  	}
}

.cd-nav-trigger {
	display: block;
  	position: absolute;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 50px;
  	/* hide text */
  	overflow: hidden;
  	white-space: nowrap;
  	color: transparent;
}
.cd-nav-trigger span {
  	/* hamburger icon created in CSS */
  	position: absolute;
  	height: 2px;
  	width: 20px;
  	top: 50%;
  	margin-top: -1px;
  	left: 50%;
  	margin-left: -10px;
  	-webkit-transition: background-color 0.3s 0.3s;
  	-moz-transition: background-color 0.3s 0.3s;
  	transition: background-color 0.3s 0.3s;
  	background-color: #ffffff;
    text-align: left;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  	/* upper and lower lines of the menu icon */
 	content: '';
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background-color: #ffffff;
  	/* Force Hardware Acceleration */
  	-webkit-transform: translateZ(0);
  	-moz-transform: translateZ(0);
  	-ms-transform: translateZ(0);
  	-o-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-transition: -webkit-transform 0.3s 0.3s;
  	-moz-transition: -moz-transform 0.3s 0.3s;
  	transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  	-webkit-transform: translateY(-6px);
  	-moz-transform: translateY(-6px);
  	-ms-transform: translateY(-6px);
  	-o-transform: translateY(-6px);
  	transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  	-webkit-transform: translateY(6px);
  	-moz-transform: translateY(6px);
  	-ms-transform: translateY(6px);
  	-o-transform: translateY(6px);
  	transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  	background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  	-webkit-transform: translateY(0) rotate(-45deg);
  	-moz-transform: translateY(0) rotate(-45deg);
  	-ms-transform: translateY(0) rotate(-45deg);
  	-o-transform: translateY(0) rotate(-45deg);
  	transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  	-webkit-transform: translateY(0) rotate(45deg);
  	-moz-transform: translateY(0) rotate(45deg);
  	-ms-transform: translateY(0) rotate(45deg);
  	-o-transform: translateY(0) rotate(45deg);
  	transform: translateY(0) rotate(45deg);
}
@media only screen and (min-width: 1024px) {
	.cd-nav-trigger {
    	display: none;
  	}
}
div#page::before {
	display: none;
  	content: 'mobile';
}
@media only screen and (min-width: 1024px) {
	div#page::before {
    	content: 'desktop';
  	}
}
.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  background: #1e262c;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a {
  display: block;
  font-size: 1.8rem;
  padding: .9em 2em .9em 1em;
  border-bottom: 1px solid #33414a;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}



